.tile {
  background: rgb(193, 245, 117);
  border: 1px solid rgb(123, 122, 122);
  border-radius: 6%;
  border-style: dashed;
  float: left;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 200px;
}

.tile:hover {
  opacity: 0.8;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.container {
  transition: opacity 1s;
}